<div class="result-bars">
  <div class="flex">
    <span class="bar-label color-red">A</span>
    <span class="bar">
      <div class="bar-inner bg-red" style="width: <%= percentage(a, a + b) %>"></div>
    </span>
  </div>
  <div class="flex">
    <span class="bar-label color-blue">B</span>
    <span class="bar">
      <div class="bar-inner bg-blue" style="width: <%= percentage(b, a + b) %>"></div>
    </span>
  </div>
</div>
