
$red: #ff4706;
$blue: #4586ff;

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (min-width: 360px) { @content }
  }
  @else if $media == medium {
    @media only screen and (min-width: 769px) { @content }
  }
  @else if $media == large {
    @media only screen and (min-width: 1024) { @content }
  }
}
