
@import "_core.scss";

.block { display: block }
.inline-block { display: inline-block }
.grid { display: grid }

.col-2 { column-count: 2 }
.col-sm-2 {
  @include respond-to(medium) {
    column-count: 2
  }
}
.col-gap-16 { column-gap: 16px }
.col-gap-32 { column-gap: 32px }
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-1 { flex: 1 }

.color-red { color: $red }
.color-blue { color: $blue }
.bg-red { background-color: $red }
.bg-blue { background-color: $blue }
